.table {
	display: table;  
	margin: 0 auto;
}
.horizontal-list {
    /* display:inline; */
    display: flex;
    justify-content: space-around;
}
.horizontal-list li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
}
li .character-img{
    width: 60px;
    height: 100px;
}

h2{
    color:white;
}
ul {
	columns: 3;
}
