/* .ken { 
    width:70px;
    height:80px; 
    background:url('../images/ken_2.png') left center; 
    animation: play .8s steps(10) infinite;
    background-image:url('../images/ken.png'); 
} 
.punch { 
    background-image: url("../images/ken_punch.png");
    animation: punch steps(4) 0.15s infinite; 
}
@keyframes punch {
    from { background-position:0px -160px; }
    to { background-position:-280px -160px; }
}
*/
body {
    margin: 0px;
    padding: 0;
}
.kenContainer{
    margin-left: 460px;
    z-index: 5;
}
.ken{
    display: inline-block;
    position: absolute;
}
.ken, .fireball {
    /* position: absolute; */
    bottom: 112px;
    width: 70px;
    height: 80px;
    background-image: url('../images/ken_sprite.png');
}
.ken:before, .fireball:before {
    content: '';
    background: url('../images/ken_tatsumaki.png') no-repeat;
}
.ken:after, .fireball:after {
    content: '';
    background: url('../images/ken_shoryuken.png') no-repeat;
}
/* walking */
.walk {
    animation: walk steps(5) 0.5s infinite;
}
@keyframes walk {
    from {background-position: 0px -240px;}
    to {background-position: -350px -240px;}
}
/* stance */
.stance {
    animation: stance steps(4) 0.5s infinite;
}
@keyframes stance {
    from { background-position: 0px -80px;}
    to { background-position: -280px -80px; }
}
/* ken's fireball */
.fireball {
    position: absolute;
    left: 100%;
    bottom: 0px;
    margin-left: 0;
    background-position: 140px 320px;
    transition: margin 8s linear;
    animation: fireball steps(2) 0.15s infinite;
}
.fireball:before {
    left: 25px;
    right: 25px;
}
.fireball.moving {
    margin-left: 4000px;
}
@keyframes fireball {
    from { background-position: 0px -320px;}
    to { background-position: -140px -320px;}
}
/* ken's fireball impact explosion */
.explode {
    animation: explode steps(4) 0.5s 1;
}
@keyframes explode {
    from { background-position: 0px -400px;}
    to { background-position: -280px -400px;}
}
/* hadoken - must be declared AFTER .stance */
.hadoken {
    animation: hadoken steps(4) 0.5s infinite;
}
@keyframes hadoken {
    from { background-position: 0px 0px;}
    to { background-position: -280px 0px;}
}
/* punch */
.punch {
    animation: punch steps(3) 0.15s infinite;
}
@keyframes punch {
    from { background-position: 0px -160px;}
    to { background-position: -210px -160px; }
}
/* kick */
.kick {
    animation: kick steps(5) 0.5s infinite;
}
@keyframes kick {
    from {background-position: 0px -480px; }
    to {background-position: -350px -480px; }
}
/* reverse kick */
.reversekick {
    animation: reversekick steps(5) 0.5s infinite;
}
@keyframes reversekick {
    from { background-position: 0px -560px;}
    to {background-position: -350px -560px; }
}
/* kneel down */
.kneel {
    animation: kneel steps(1) 0.2s infinite;
}
@keyframes kneel {
    from {background-position: 0px -720px;}
    to {background-position: -70px -720px; }
}
/* jump */
.jump {
    transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42);
    bottom: 225px;
    animation: jump steps(7) 1s infinite;
}
.jump.down {
    bottom: 112px;
}
@keyframes jump {
    from {  background-position: 0px -640px; }
    to { background-position: -490px -640px;}
}
/* shoryuken */
.shoryuken {
    height: 110px;
    background-image: url('../images/ken_shoryuken.png');
    transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42);
    bottom: 225px;
    animation: shoryuken steps(7) 1s infinite;
}
.shoryuken.down {
    bottom: 112px;
}
@keyframes shoryuken {
    from { background-position: 0px 0px; }
    to {background-position: -490px 0px; }
}
/* tatsumaki senpuu kyaku */
.tatsumaki {
    height: 110px;
    background-image: url('../images/ken_tatsumaki.png');
    transition: bottom 0.2s cubic-bezier(0.99, 0.005, 0, 0.42);
    bottom: 132px;
    animation: tatsumaki steps(13) 2s infinite;
}
.tatsumaki.down {
    bottom: 112px;
}
@keyframes tatsumaki {
    from { background-position: 0px 0px; }
    to {background-position: -910px 0px;}
}

